.games-container {
  background-color: #e0e7ff;  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #3b82f6;
  box-sizing: border-box; 
  overflow: hidden;

  .games-header {
    display: flex;
    color: #333333; 
    text-align: center;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6;
    box-sizing: border-box;

    h3 {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
      color: #ffffff; 
    }
  }

  .games-games {
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    background-color: #f9fafb; 
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
