.App {
    display: flex;
    height: 100vh; 
    background-color: #f4f6f9; 
  
    .sidebar {
      width:15% ;
      background-color: #1b1f3b; 
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
      height: 100%;
    }
  
    .dashboard {
      width: 85%;
    }
  }
  
  