.side-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1b1f3b;
    color: #ffffff;
  
    .side-title {
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      height: 10%;
      width: 100%;
      padding: 1rem;
      border-bottom: 2px solid silver;
      justify-content: center;
    
  
      h1 {
        margin: 0;
      }
    }
  
    .side-details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      height: 70%;
      padding: 1rem;
  
      div {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #272b4e;
        }
  
        svg {
          margin-right: 15px;
          color: #ffffff;
          font-size: 20px;
        }
  
        span {
          font-size: 18px;
          color: #ffffff;
        }
      }
    }
  
    .sign-out {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff6347;
        color: white;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #e55347;
        }
  
        svg {
          margin-right: 10px;
        }
  
        span {
          font-size: 16px;
        }
      }
    }
  }
  